<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/materialize.min.css">
    <link rel="stylesheet" href="../static/tooplate.css">
    <style>

    </style>
</head>

<body id="survey" class="font-weight-light">
    <div id="contact" class="tm-page-content">
        <div class="tm-black-bg tm-contact-text-container">
            <h2>夜袭杂物社欢迎您</h2>
            <form action="/list" method="post">
            <h2 class="tm-text-primary">请选择您想购买的商品</h2>
                <p>
                    {% for product in products %}
                        <p><input type="checkbox" name="list" value="{{ product[0] }}">{{ product[0] }}----------{{ product[1] }}<br></p>
                </p>
                {% endfor %}
                <div>
                    <button type="submit" class="waves-effect btn-large">提交</button>
                </div>
            </form>
        </div>
    </div>
    <footer class="row tm-mt-big mb-3">
        <div class="col-xl-12 text-center font-weight-light">
            <p class="d-inline-block tm-bg-black white-text py-2 tm-px-5">
                Juicy &copy; 2021 Final Project - Course:
                <a rel="nofollow" href="https://www.python.org" class="tm-footer-link">Python</a>
            </p>
        </div>
    </footer>
</body>
</html>